<!DOCTYPE html>
<html lang="{{lang}}">

<head>

    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
    {{!-- Styles'n'Scripts --}} 
    <link rel="stylesheet" type="text/css" href="{{asset "css/default.css"}}" />
    {{!-- Google Material Icons --}}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
    <!--jquery, popper and bootstrap-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
    <!--Typekit CSS-->
    <link rel="stylesheet" href="https://use.typekit.net/ewz7hyp.css"> {{!-- This tag outputs SEO meta+structured data and other important settings --}} {{ghost_head}}

</head>

<body class="{{body_class}}">

    <div class="site-wrapper">
        <!--Navigation bar-->
        <nav class="navbar navbar-expand-md navbar-light sticky-top">
            <a href="{{@blog.url}}" class="navbar-brand caption-nav">
                <img src="{{@blog.logo}}" width="40" height="40" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarMenu">
                <ul class="nav navbar-nav ml-auto mt-2 mt-lg-0">
                    {{navigation}}
                </ul>
            </div>
        </nav>
        {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}} 
        {{{body}}} 

    </div>
    {{!-- The footer at the very bottom of the screen --}}
    <footer class="site-footer outer">
        <div class="site-footer-content inner">
            <section class="copyright text-dark">
                <a class="text-dark" href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
            <nav class="site-footer-nav">
                <a class="text-dark" href="{{@blog.url}}">Home</a>
                {{#if @blog.facebook}}
                <a class="text-dark" href="{{facebook_url @blog.facebook}}" target="_blank" rel="noopener">Facebook</a>{{/if}} {{#if @blog.twitter}}
                <a class="text-dark" href="{{twitter_url @blog.twitter}}" target="_blank" rel="noopener">Twitter</a>{{/if}}
            </nav>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
        </script>
    {{{block "scripts"}}} {{!-- Ghost outputs important scripts and data with this tag - it should always be the very
    last thing before the closing body tag --}} {{ghost_foot}}

</body>

</html>